<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="../static/styles.css" rel="stylesheet">
  <!--
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script src="/static/script.js"></script>
-->

  <!-- Fontawesome kit -->
  <script src="https://kit.fontawesome.com/463a0385d1.js" crossorigin="anonymous"></script>

  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="static/images/favicon.JPG">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light border">
    <a class="navbar-brand" href="/"><i class="fas fa-book-reader fa-lg green"></i><span class="gray"> Book</span><span class="green">Q</span><span class="red">u</span><span class="violet">e</span><span class="lightyellow">r</span><span
        class="orange">y</span></a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="https://github.com/honghainguyen777/bookquery"><i class="fab fa-github fa-lg"></i> Developer</a></li>
      </ul>
      {% if session.user_id %}
      <!-- if the user has login, display these navs -->
      <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/account"><i class="far fa-user-circle fa-lg"></i> Account</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i>Log Out</a></li>
      </ul>
      {% else %}
      <!-- if not, display these navs -->
      <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-plus fa-lg"></i> Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> Log In</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>

  <!-- flash a message -->
  {% if get_flashed_messages() %}
  <header>
    <div class="alert alert-primary border text-center" role="alert">
      {{ get_flashed_messages() | join(" ") }}
    </div>
  </header>
  {% endif %}

  <!-- Main block here -->
  <main class="container p-3">
    {% block main %}{% endblock %}
  </main>

  <!-- footer here -->
  <footer class="small text-center text-muted mt-5 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="contact-message"><b>Love books, read books</b></h5>
        <a class="footer-link mr-3" href="https://www.linkedin.com/in/hainguyencs19/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a class="footer-link mr-3" href="mailto:earth.for.everybody@gmail.com"><i class="fas fa-envelope footer-icon fa-2x"></i></a>
        <a class="footer-link mr-3" href="https://www.bookquery.herokuapp.com/"><i class="fas fa-globe fa-2x"></i></a>
        <a class="footer-link" href="https://github.com/honghainguyen777/Learning/tree/master/CS50_Web_Python_Javascript/project1"><i class="fab fa-github fa-2x"></i></a>
      </div>
      <div class="col-lg-12">
        <h6>2020 Hong Hai Nguyen @BookQuery</6>
      </div>
    </div>
  </footer>
</body>

</html>
